*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    width: 64rem;
}

body, header{
    background: linear-gradient(#f1f1f1,white,#f1f1f1);
}

.header h1{
    display: inline-block;
    width: 25%;
    font-size: 3rem;
}

.header p{
    display: inline-block;
    width: 40%;
    font-size: 1.5rem;
    text-align: right;
    margin-left: 20rem;
    padding-top: 1rem;
}

.main{
    background: radial-gradient(#8e8288,#6f5964,#1a0a0e);
    padding: 1.5rem;
}

#topmain{
    height: 30%;
    width: 100%;
}

img{
    width: 27rem;
    border: 0.5rem solid silver;
}

h2{
    color: white;
    background: linear-gradient(#b3b2b6,#888694,#b3b2b6);
    font-size: 1.5rem;
    padding: 0.5rem;
}

h3{
    color: white;
    background-color: gray;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.topheadingWtext{
    width: 52%;
    height: 18rem;
    margin-left: 2rem;
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(to right,#ffffff,#dacbd9);
}

.topheadingWtext p{

    font-size: 1.25rem;
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
}

.topheadingWtext p a{
    color: black;
    font-size: 1.25rem;
}

.mainwrap{
    margin-top: 1.5rem;
}

.headingWtext{
    display: inline-block;
    width: 32%;
    background: linear-gradient(to right,#ffffff,#dacbd9);
    vertical-align: top;
}

.mid{
    margin-left: 0.95rem;
    margin-right: 0.95rem;
}

.headingWtext p{
    padding: 0.5rem;
}

.headingWtext img{
    width:100%;
    border: none;
}

.imgWrap{
    width: 100%;
    padding: 0.5rem 1rem;
}

.imgWrap img{
    width: 15%;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

button{
    display: block;
    background-color: #407d61;
    border-radius: 0.5rem;
    color: white;
    border: 0.05rem solid black;
    padding: 0.1rem;
    margin: 0rem auto 1rem auto;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem black;
}

.footer p{
    text-align: center;
    margin: 0.5rem auto;
    font-size: 1.25rem;
}

.footer img{
    width: 2%;
    border: 0;
}

.footer a{
    color: black;
    font-size: 1.25rem;
}